@model ItemsMVCWebApp.Models.Item

<div class="container mt-4">

    <h2 class="mb-3">Add Item</h2>
    <div class="card shadow-sm">
        <div class="card-body">

            <div id="alertBox" class="alert d-none" role="alert"></div>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input id="name" class="form-control" placeholder="Enter item name" />
            </div>

            <div class="mb-3">
                <label class="form-label">Description</label>
                <input id="desc" class="form-control" placeholder="Enter description" />
            </div>

            <button type="button" id="addBtn" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> Add Item
            </button>

            <a href="/Item/Index" class="btn btn-secondary ms-2">
                Back
            </a>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery-3.7.0.min.js")"></script>

<script>
    // show inline alert
    function showValidation(message, type) {
        var alertBox = $("#alertBox");
        alertBox
            .removeClass("d-none alert-success alert-danger")
            .addClass("alert-" + type)
            .text(message);
    }

    $("#addBtn").click(function () {

        var item = {
            Name: $("#name").val(),
            Description: $("#desc").val()
        };

        if (!item.Name || !item.Description) {
            showValidations("All fields are required", "danger");
            return;
        }

        $.ajax({
            url: '/Item/AddItemAsync',
            type: 'POST',
            data: item,
            success: function (res) {

                if (res.success)
                {
                    showValidation("Item added successfully!", "success");
                    setTimeout(function () {
                        window.location.href = "/Item/Index";
                    }, 1000);
                    return;
                } 
                showValidation("Failed to add item", "danger");
            },
            error: function () {
                showValidation("Error saving item", "danger");
            }
        });

    });
</script>